<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="alert alert-primary text-center">
            <h4 class="alert-heading">Welcome to Project Freight Train</h4>
            <hr>
            You can customize this top portion of the front page in /config/frontPage.html
        </div>
    </div>
</div>